.ContactPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4vw;
  margin-top: 50px;
  padding-bottom: 50px;
}
.ContactPageContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 20px;
  margin-top: 50px;
}
.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 20px;
}
.ContactsOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.shortInput {
  width: 500px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border-color: var(--primary);
  border-width: 2px;
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
}
.longInput {
  width: 500px;
  height: 200px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: var(--white);
  border-color: var(--primary);
  border-width: 2px;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  resize: none;
}
.sendMessageBtn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  width: 522px;
  transition: 0.3s;
  font-weight: 500;
  height: 40px;
  outline: none;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
}
.sendMessageBtn:hover {
  background-color: var(--secondary);
}
.sendMessageTitle {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 20px;
  padding: 10px;
}
.formTitle {
  font-size: 22px;
  font-weight: 500;
  color: var(--secondary);
  align-self: start;
  margin-top: 10px;
  padding-bottom: 10px;
}
.infoContact {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  align-self: start;
  padding: 10px;
}
.infoContact::before {
  content: attr(data-label);
  color: var(--secondary);
  margin-right: 5px;
}
.ContactOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.point {
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  border-width: 1px;
  border-radius: 50%;
}
.pointInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.directLinkText {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  margin: 0;
  align-self: start;
}
.ContactLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  margin: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.apiMessage {
  color: green;
}

.errorMessage {
  color: red;
}

@media screen and (max-width: 1024px) {
  .ContactPageContent {
    flex-direction: column;
    align-items: center;
  }
  .ContactForm {
    margin: 0;
  }
  .Form {
    width: 100%;
  }
  .shortInput {
    width: 100%;
  }
  .longInput {
    width: 100%;
  }
  .sendMessageBtn {
    width: 100%;
  }
  .sendMessageTitle {
    margin-top: 20px;
  }
}
