.ProjectsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 0 4vw;
  margin-top: 50px;
}
.projectPage_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--white);
  align-self: start;
  margin-bottom: 20px;
}
.projectPage_projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 1032px) {
  .ProjectsPageContainer {
    padding: 0 2vw;
  }
}
