@import "../../utils/fonts.css";

.presentation {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: var(--white);
}
.subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
}
.developerContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}
.developer {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--primary);
}
.textPresentation {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  color: var(--white);
  width: 80%;
}
.imgProfile {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1763px) {
  .left {
    width: 70%;
  }
  .right {
    width: auto;
  }
  .textPresentation {
    width: 90%;
  }
}
@media screen and (max-width: 1400px) {
  .title {
    font-size: 70px;
  }
  .subtitle {
    font-size: 35px;
  }
  .developer {
    font-size: 25px;
  }
  .textPresentation {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 30px;
  }
  .developer {
    font-size: 20px;
  }
  .textPresentation {
    font-size: 14px;
  }
}
@media screen and (max-width: 890px) {
  .presentation {
    flex-direction: column;
    gap: 40px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .textPresentation {
    width: 100%;
  }
}
