.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: transparent;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.first {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--white);
  user-select: none;
}

.second {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary);
  user-select: none;
}

.no-underline {
  text-decoration: none;
}

@media screen and (max-width: 927px) {
  .navBar {
    padding: 0 10px;
  }

  .navigation {
    gap: 10px;
  }
}

@media screen and (max-width: 855px) {
  .navBar {
    padding: 0 10px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navigation {
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width: 530px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .navigation > * {
    flex-basis: calc(50% - 10px);
    display: flex;
    justify-content: center;
  }
}
