.circle {
  width: 305px;
  height: 305px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 3px solid var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

.circle img {
  width: 100%;
  height: auto;
  display: block;
}

.circle-around2 {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border: 3px inherit var(--primary);
  box-shadow: 0 0 10px var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-around1 {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 5px inherit var(--primary);
  box-shadow: 0 0 10px var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .circle {
    width: 250px;
    height: 250px;
  }
  .circle-around2 {
    width: 280px;
    height: 280px;
  }
  .circle-around1 {
    width: 310px;
    height: 310px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 890px) {
  .circle {
    width: 200px;
    height: 200px;
  }
  .circle-around2 {
    width: 230px;
    height: 230px;
  }
  .circle-around1 {
    width: 260px;
    height: 260px;
  }
}
